 <!-- {{ companyName }} -->

    <table class="table">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">{{ companyName }}</th>
            <th scope="col">({{ ticker }})</th>
            <th scope="col">{{ exchange }}</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Price</th>
            <td>{{ currentPrice }}</td>
            <td>Today's Volume</td>
            <td>{{ todaysVolume }}</td>
          </tr>
          <tr>
            <th scope="row">Close</th>
            <td>{{ closePrice }}</td>
            <td>Market Capitalization</td>
            <td>{{ marketCap }}</td>
          </tr>
          <tr>
            <th scope="row">52-Wk High</th>
            <td>{{ 52wkHigh }}</td>
            <td>52-Wk Low</td>
            <td>{{ 52wkLow }}</td>
          </tr>
        </tbody>
      </table>

      {{ symbol }}
      {{ price }}
      {{ openPrice }}
      {{ lowPrice }}
      {{ latestVolume }}
      {{ week52High }}
      {{ week52Low }}
      {{ marketCap }}
      {{ avgTotalVolume }}
      {{ exchange }}


      def quote():

    if request.method == "GET":
        return render_template("quote.html")
    else: # else if post
        ticker = request.form.get("ticker")
        quote = lookup(ticker)
        companyName = quote['name']
        symbol = quote['symbol']
        price = quote['price']
        openPrice = quote['open']
        lowPrice = quote['close']
        latestVolume = quote['latestVolume']
        week52High = float(quote["week52High"])
        week52Low = float(quote["week52Low"])
        marketCap = quote["marketCap"]
        avgTotalVolume = quote["avgTotalVolume"]
        exchange = quote["exchange"]

        return render_template("quote.html",companyName=companyName)
            # symbol=symbol,
            # price=price,
            # openPrice=openPrice,
            # lowPrice=lowPrice,
            # latestVolume=latestVolume,
            # week52High=week52High,
            # week52Low=week52Low,
            # marketCap=marketCap,
            # avgTotalVolume=avgTotalVolume,
            # exchange=exchange

            https://cloud-sse.iexapis.com/stable/stock/fb/quote?token=pk_cd6c0b58af9e4ae5ba5eadc695a96ced

            API_KEY="pk_cd6c0b58af9e4ae5ba5eadc695a96ced"


            <div class="d-inline-flex justify-content-around flex-direction-row-col-6">
              <!-- buy and sell - two divs, input boxes to take in number of shares, a calculator (api_price * inputted shares) buttons, -->
              <div class="d-flex flex-direction-row-col-6">
                  <div class="d-flex flex-direction-column" >
                      <!-- Buy -->
                      <select name="buyOrderTypes" id="buyOrderTypes"> Select Order Type</select>
                          <span value="buyMarket">Market</span>
                          <span value="buyLimit">Limit</span>
                  </div>
                  <div class="d-flex flex-direction-column">
                      <form action="text" method="post">
                          <input type="number" name="buyShares" id="buyShares">
                      </form>
                  </div>
          </div>
          <div class="container d-flex flex-direction-row-col-6">
                  <div class="flex-direction-row-col-6">
                      <div class="d-flex flex-direction-column">
                          <!-- Sell -->
                          <select name="sellOrderTypes" id="sellOrderTypes"> Select Order Type</select>
                              <option value="sellMarket">Market</option>
                              <option value="sellLimit">Limit</option>
                      </div>
                  </div>
                  <div class="d-flex flex-direction-column">
                      <form action="text" method="post">
                          <input type="number" name="sellShares" id="sellShares">
                      </form>
                  </div>
              </div>
          </div>




          <div class="d-flex flex-row justify-content-center" id="buy_sell_estimator">
            <!-- Change name of this route later to "buy estimator" -->
            <div id="buyEstimator">
                <form action="/buy" method="POST"> 
                    <table class="table table-bordered table-responsive-sm table-borderless th" style="background: white;">
                        <thead>
                            <tr>
                                <th scope="col">Order Type:</th>
                                <th scope="col">Buy</th>
                                <!-- <th scope="col"></th>
                                <th scope="col">Sell</th> -->
                            </tr>
                        </thead>
                    <div class="form-group">
                        <tbody>
                            <tr>
                            <th scope="col">(Ask) Price</th>
                            <!-- <th scope="col">{{ askPrice }}</th> -->
                            <th scope="col">{{ latestPrice }}</th>
                            <!-- <th scope="col">(Bid) Price</th>
                            <th scope="col">{{ latestPrice }}</th> -->
                            </tr>
                            <tr>
                            <th scope="col">Buy Quantity</th>
                            <!-- <th scope="col"><input type="text" name="buyQuantity" id="buyQuantity" placeholder="0"></th> -->
                            <th scope="col"><input type="text" class="form-control" style="width: 20%;" name="sharesInput" id="sharesInput" placeholder="# Of Shares" type="text"></th>
                            <!-- <th scope="col">Sell Quantity</th>
                            <th scope="col"><input type="text" name="sellQuantity" id="sellQuantity" placeholder="0"></th> -->
                            </tr>
                            <tr>
                            <th scope="col">Estimated Total</th>
                            <th scope="col">{{ estimatedTotal }}</th>
                            <!-- <th scope="col">For {{ sharesInput }} Shares</th>
                            <th scope="col">{{ sellEstimate }}</th> --> -->
                            </tr>
                        </tbody>
                        </table>
                </div>
                    <button class="btn btn-primary" type="submit">Estimate Buy Order</button>
                </form>
            </div>
        
        
            <div class="bg-light" id="sellEstimator"></div>
                <form action="/sellEstimate" method="POST">
                    <table class="table table-bordered table-responsive-sm table-borderless th" style="background: white;">
                        <thead>
                            <tr>
                                <th scope="col">Order Type:</th>
                                <th scope="col">Buy</th>
                                <!-- <th scope="col"></th>
                                <th scope="col">Sell</th> -->
                            </tr>
                        </thead>
                    <div class="form-group">
                        <tbody>
                            <tr>
                            <th scope="col">(Ask) Price</th>
                            <!-- <th scope="col">{{ askPrice }}</th> -->
                            <th scope="col">{{ latestPrice }}</th>
                            <!-- <th scope="col">(Bid) Price</th>
                            <th scope="col">{{ latestPrice }}</th> -->
                            </tr>
                            <tr>
                            <th scope="col">Buy Quantity</th>
                            <!-- <th scope="col"><input type="text" name="buyQuantity" id="buyQuantity" placeholder="0"></th> -->
                            <th scope="col"><input type="text" class="form-control" style="width: 20%;" name="sharesInput" id="sharesInput" placeholder="# Of Shares" type="text"></th>
                            <!-- <th scope="col">Sell Quantity</th>
                            <th scope="col"><input type="text" name="sellQuantity" id="sellQuantity" placeholder="0"></th> -->
                            </tr>
                            <tr>
                            <th scope="col">Estimated Total</th>
                            <th scope="col">{{ estimatedTotal }}</th>
                            <!-- <th scope="col">For {{ sharesInput }} Shares</th>
                            <th scope="col">{{ sellEstimate }}</th> --> -->
                            </tr>
                        </tbody>
                        </table>
                    </div>
                    <button class="btn btn-primary" type="submit">Estimate Buy Order</button>
                </form>
            </div>
        </div>
        </div>