{% extends "layout.html" %}
{% block main %}

    <div>
        <div>
            <h1 style="color: deeppink;">About BloomsTrade</h1>
        </div>
        <div>
            <p style="color: white; font-size: 15pt;font-weight: 400;">
                This project is inspired by my passion for stock trading and coding. This is a Python web application using
                Flask, Werkzeug exceptions and security, SQLite3, Requests, Jinja, Bootstrap4, Javascript, HTML5, and CSS3.
            </p>
        </div>
        



    </div>



{% endblock %}