{% extends "layout.html" %}

{% block main %}
<div class="tickerSearchBar" style="padding-top: 3%;">
    <form action="/quote" method="POST">
        <div class="form-group d-inline-flex flex-direction-row">
            <label for="ticker" style="font-weight: bolder; margin-right: 2%; padding-top: 2%; color: deeppink;">Ticker</label>
            <input type="text" class="form-control" style="width: 40%; margin-right: 2%;" name="tickerInput" id="tickerInput" placeholder="Symbol" onkeyup="this.value = this.value.toUpperCase();">
            <button class="btn btn-primary"type="submit">Search</button>
        </div>
    </form>
</div>


<div class="displayTable">
    <div class="bg-light">
        <table class="table table-bordered table-hover table-responsive-sm">
            <thead class="table-borderless th">
                <tr>
                    <th scope="col"style="height: 50px; width: 50%;">User: {{ username }}</th>
                    <!-- <th></th>
                    <th></th> -->
                    <th scope="col"style="text-align:right"> {{ current_datetime }}</th>
                </tr>
            </thead>
    </div>

    <div class="bg-light">
        <table class="table table-bordered table-hover table-responsive-sm">
            <thead class="table-borderless th">
                <tr>
                    <th scope="col"style="height: 50px; width: 50%;">Available Cash:    {{ availableCash }}</th>
                </tr>
            </thead>
    </div>

    <div class="bg-light" style="color: blueviolet;">
        <table class="table table-bordered table-hover table-responsive-sm">
            <thead>
            <tr>
                <th scope="col"style="height: 50px">Company</th>
                <th scope="col" style="width: 135px;">{{ companyName }}</th>
                <th scope="col">{{ symbol }}</th>
                <th scope="col">{{ primaryExchange }}</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row" style="width: 15%;">Price (USD)</th>
                <td>{{ latestPrice }}</td>
                <th scope="row">Volume</th>
                <td style="width: 135px;">{{ volume }}</td>
            </tr>
            <tr>
                <th scope="row">Bid Price</th>
                <td>{{ latestPrice }}</td>
                <th scope="row">Avg. Total Volume</th>
                <td>{{ avgTotalVolume }}</td>
            </tr>
            <tr>
                <th scope="row">Ask Price</th>
                <td>{{ latestPrice }}</td>
                <th scope="row" style="width: 20%;">Market Capitalization</th>
                <td>{{ marketCap }}</td>
                
            </tr>
            <tr>
                <th scope="row">52-Wk High</th>
                <td>{{ week52High }}</td>
                <th scope="row">52-Wk Low</th>
                <td>{{ week52Low }}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="d-flex flex-row justify-content-center align-items-center">
    <div class="bg-light" style="text-align: center; width: 60%;">{{ message }}</div>
</div>

<div class="d-flex flex-row justify-content-center" id="buy_sell_estimator">
    <div id="buyEstimator">
        <form action="/buyEstimator" method="POST"> 
            <table class="table table-bordered table-responsive-sm table-borderless th" style="background: white;">
                <thead>
                    <tr>
                        <th scope="col">Order Type:</th>
                        <th scope="col">Buy</th>
                        <th scope="col">Curr. Ticker:</th>
                    </tr>
                </thead>
                <div class="form-group">
                    <tbody>
                        <tr>
                            <th scope="col">(Ask) Price</th>
                            <th scope="col">{{ latestPrice }}</th>
                            <th scope="col">{{ buyEstimateSymbol }}</th>
                        </tr>
                        <tr>
                            <th scope="col">Buy Quantity</th>
                            <th scope="col"><input type="number" min="1" class="form-control" style="width: 50%;" name="sharesInput" id="sharesInput" placeholder="#"></th>
                            <th scope="col">Curr. Qty: {{ sharesInput }}</th>
                        </tr>
                        <tr>
                            <th scope="col">Estimated Total</th>
                            <th scope="col">{{ estimatedTotal }}</th>
                            <th scope="col"><button class="btn btn-primary btn-sm"name="btnBuyEstimate" id="btnBuyEstimate" type="submit">Estimate</button></th>
                        </tr>
                    </tbody>
                </div>
            </table>
        </form>
        <!-- <div class="d-flex flex-row justify-content-center" id="executeBuy">
            <form action="/buy" method="POST">
                <button class="btn btn-primary btn-sm" type="submit">Execute Order</button>
            </form>
        </div> -->
    </div>
{% endblock %}