<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Blooms</title>
  <meta content="" name="descriptison">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="static/img/favicon.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="static/vendor/owl.carousel/static/owl.carousel.min.css" rel="stylesheet">
  <link href="static/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="static/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="static/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">


</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top">
    <div class="container-fluid d-flex d-md-inline-flex-row justify-content-between">

      <h1 class="logo d-flex align-items-center"><a href="/">Bloom$-Trade</a></h1>


      <nav class="nav-menu d-none d-lg-block justify-content-end align-items-center" style=margin-right:8px;>
        {% if session.user_id %}
            <ul class="navbar-nav flex-row justify-content-end mr-auto mt-2">
                <li class="nav-item"><a class="nav-link" href="/">Portfolio</a></li>
                <li class="nav-item"><a class="nav-link" href="/quote">Quote & Buy</a></li>
                <!-- <li class="nav-item"><a class="nav-link" href="/buy">Buy</a></li> -->
                <li class="nav-item"><a class="nav-link" href="/sellEstimator">Sell</a></li>
                <li class="nav-item"><a class="nav-link" href="/history">History</a></li>
                <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
            </ul>

        {% else %}
            <!-- <ul class="navbar-nav ml-auto mt-2"> -->
            <ul class="navbar-nav flex-row justify-content-end mr-auto mt-2" style=margin-right:8px;>
                <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
            </ul>
        {% endif %}
      </nav><!-- .nav-menu -->

    </div>

  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    {% if get_flashed_messages() %}
        <header>
            <div class="alert alert-primary border text-center" role="alert">
                {{ get_flashed_messages() | join(" ") }}
            </div>
        </header>
    {% endif %}


    <div class="container d-flex flex-column align-items-center" data-aos="zoom-in" data-aos-delay="100">
      <!-- MAIN BLOCK  -->
      <main id=main class="container">
        {% block main %}{% endblock %}
      </main>
    </div>
  </section><!-- End Hero -->




  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">

      <div class="credits">
        Source: <a href="https://iextrading.com/developer">IEX</a> |
        View <a href="https://iextrading.com/api-exhibit-a/">IEX’s Terms of Use</a> | 
        <a href="#" class="twitter"><i class="icofont-twitter"></i></a> | 
        <a href="#" class="facebook"><i class="icofont-facebook"></i></a> | 
        <a href="#" class="instagram"><i class="icofont-instagram"></i></a> | 
        <a href="#" class="linkedin"><i class="icofont-linkedin"></i></i></a>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top"><i class="bx bx-up-arrow-alt"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/jquery.easing/jquery.easing.min.js"></script>
  <!-- <script src="static/vendor/php-email-form/validate.js"></script> -->
  <script src="static/vendor/waypoints/jquery.waypoints.min.js"></script>
  <script src="static/vendor/counterup/counterup.min.js"></script>
  <script src="static/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="static/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="static/vendor/venobox/venobox.min.js"></script>
  <script src="static/vendor/aos/aos.js"></script>
  <!-- Template Main JS File -->
  <script src="static/js/main.js"></script>
</body>
</html>








  <!-- =======================================================
  * Template Name: Kelly - v2.0.0
  * Template URL: https://bootstrapmade.com/kelly-free-bootstrap-cv-resume-html-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->