{% extends "layout.html" %}

{% block main %}
<div class="wrapper">
    <h3 style="color: white;">{{ message }}</h3>
    <div class="container col-6 d-flex justify-content-center bg-light">
        <form action="/register" method="POST">
            <h3 style="text-align: center; padding: 3pc; ">Account Registration Form</h3>
            <div class="form-group">
                <input type="text" style="margin-bottom: 10pt;" placeholder="First Name" name="firstName" class="form-control" required>
                <input type="text" placeholder="Last Name" name=lastName class="form-control" required>
            </div>
            <div class="form-wrapper flex-direction-row">
                <input type="text" placeholder="Username" name="username" class="form-control" required>
                <i class='bx bx-user'></i>
            </div>
            <div class="form-wrapper">
                <input type="text" placeholder="Email Address" name="emailAddress" class="form-control" required>
                <i class='bx bx-mail-send' ></i>
            </div>
            <div class="form-wrapper">
                <input type="password" placeholder="Password" name="password" class="form-control"required>
                <i class='bx bx-lock' ></i>
            </div>
            <div class="form-wrapper" style="padding-bottom: 3px;">
                <input type="password" placeholder="Confirm Password" name="passwordConfirm" class="form-control"required>
                <i class='bx bx-lock' ></i>
            </div>
            <button type="submit">Register
                <i class='bx bxs-arrow-to-right' ></i>
            </button>
            <div class="form-group" style="size: 80pc;">
                <label for="member">Already Have An Account?</label>
                    <a href="/login.html" style="padding-bottom: 3pc;">Proceed to Login page</a>
            </div>
        </form>
        <br>
    </div>
</div>
{% endblock %}