{% extends "layout.html" %}

{% block main %}
    <div>
        <div class="bodyTitles">
            <h2>New Account Registration</h2>
            <h3>{{ message }}</h3>
        </div>

        <div>
            <form action="/register" method="POST">
                <div class="form-group flex-direction-row">
                    <label for="firstName">First Name</label>
                    <input type="text" placeholder="John" name="firstName" id="firstName" required>

                </div>

                <div class="form-group flex-direction-row">
                    <label for="lastName">Last Name</label>
                    <input type="text" placeholder="Doe" name="lastName"  id="lastName" required>
                </div>


                <div class="bodyTitles">
                    <h2>Create Username & Password</h2>
                </div>

                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" placeholder="Enter here" name="username" id="username" required>
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="text" placeholder="Enter here" name="password"  id="password" required><hr>
                </div>

                <div class="form-group">
                    <label for="passwordConfirm">Password Reconfirmation</label>
                    <input type="text" placeholder="Re-enter password here." name="passwordConfirm"  id="passwordConfirm" required><hr>
                </div>

                <div class="form-group"></div>
                <input type="submit">
                <label for="member">Already Have An Account?</label>
                    <a href="/login.html">Proceed to Login page</a>
                </div>
            </form>
        </div>
    </div>


{% endblock %}