{% extends "layout.html" %}

{% block main %}


<div class="wrapper">
    <div class="inner">
        <div class="image-holder">
            <img src="images/registration-form-1.jpg" alt="">
        </div>
        <form action="">
            <h3>Registration Form</h3>
            <div class="form-group">
                <input type="text" placeholder="First Name" name="firstName" class="form-control" required>
                <input type="text" placeholder="Last Name" name=lastName class="form-control" required>
            </div>
            <div class="form-wrapper">
                <input type="text" placeholder="Username" name="username" class="form-control">
                <i class="zmdi zmdi-account"></i>
            </div>
            <div class="form-wrapper">
                <input type="text" placeholder="Email Address" name="emailAddress" class="form-control">
                <i class="zmdi zmdi-email"></i>
            </div>
            <!-- <div class="form-wrapper">
                <select name="" id="" class="form-control">
                    <option value="" disabled selected>Gender</option>
                    <option value="male">Male</option>
                    <option value="femal">Female</option>
                    <option value="other">Other</option>
                </select>
                <i class="zmdi zmdi-caret-down" style="font-size: 17px"></i>
            </div> -->
            <div class="form-wrapper">
                <input type="password" placeholder="Password" name="password" class="form-control">
                <i class="zmdi zmdi-lock"></i>
            </div>
            <div class="form-wrapper">
                <input type="password" placeholder="Confirm Password" name="passwordConfirm" class="form-control">
                <i class="zmdi zmdi-lock"></i>
            </div>
            <button>Register
                <i class="zmdi zmdi-arrow-right"></i>
            </button>
        </form>
    </div>
</div>

{% endblock %}